doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='//nechifor.net/favicon152.png')
    link(href='style.css' rel='stylesheet')
  body
    h1: a(href='.', title=title)= title

    .albums
      each album in albums
        a.album(
          alt=album.band + ' — ' + album.name
          title=album.band + ' — ' + album.name
          href='https://www.youtube.com/results?search_query=' +
          album.band + ' ' + album.name + ' full album'
          style='background-image: url("covers.jpg");' +
          'background-position: -' + album.coords.x + 'px -' +
          album.coords.y + 'px'
        )
